.nx-actions{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -20px;
    position: relative;
    
    &__item{
        margin-right: 20px;
        margin-bottom: 20px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__agree-label {
        position: relative;
        padding-left: 48px;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.4);
        cursor: pointer;

        a {
            display: inline;
            font-weight: 500;
        }

        &::before {
            position: absolute;
            content: "";
            width: 24px;
            height: 24px;
            top: 2px;
            left: 0;
            border: 1px solid rgba(0, 0, 0, 0.18);
        }

        &::after {
            position: absolute;
            content: "";
            width: 15px;
            height: 11px;
            top: 8px;
            left: 4px;
            opacity: 0;
            visibility: hidden;
            background-image: url("/local/templates/meladapt/assets/images/icons/check-mark.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transition: all $tr-time $tr-type;

            .nx-actions__agree-checkbox:checked + & {
                opacity: 1;
                visibility: visible;
            }
        }

        @include media("xs") {
            padding-left: 29px;

            &::before {
                width: 18px;
                height: 18px;
            }

            &::after {
                width: 10px;
                height: 8px;
                top: 7px;
                left: 4px;
            }
        }
    }

    &_center{
        justify-content: center;
    }
    
    &_space-between {
        justify-content: space-between;
    }
    
    &_offset-top {
        margin-top: 30px;
    }
    
    &_small {
        .nx-actions__item {
            margin-right: 10px;
        }
    }
    
    &_note{
        flex-wrap: nowrap;
        align-items: flex-start;
        .nx-actions__item_btn{
            flex: none;
        }
    }
    
    &_modal {
        display: block;
        margin: 40px 0 -10px;
        .nx-actions__item {
            margin-bottom: 10px;
        }
    }
    
    &_col {
        display: block;
    }
    
    &_single {
        margin-bottom: 0;
        .nx-actions__item {
            margin-bottom: 0;
            margin-right: 0;
        }
    }
    
    @include media('xs'){
        
        &__el{
            margin-right: 10px;
            margin-bottom: 10px;
            .nx-form-subscribe &{
                margin-right: 0;
                width: 100%;
            }
        }
        
        &_note{
            display: block;
            .nx-actions__item {
                margin-right: 0;
            }
        }
    }
}