.buy {
    padding-top: 70px;
    padding-bottom: 50px;
    &__head {
        color: $c-blue;
        margin-bottom: 45px;
        h1 {
            font-family: 'Amatic SC', cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 120px;
            line-height: 90%;
            margin-bottom: 10px;
        }
    }
    &__subtitle {
        opacity: 0.6;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 40px;
    }
    &__show {
        font-weight: 600;
        span {
            border-bottom: 1px solid rgba(32, 43, 86, 1);
        }
    }
}