.danger {
    padding-top: 10px;
    padding-bottom: 55px;
    position: relative;
    &__bg {
        position: absolute;
        top: -56%;
        z-index: -1;
        max-width: 76%;
        right: -22%;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__head {
        max-width: 400px;
        margin-right: 120px;
        color: $c-blue;
        h1 {
            font-family: 'Amatic SC', cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 120px;
            line-height: 90%;
        }
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        max-width: 50%;
        gap: 25px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        width: 170px;
        margin-right: 0px;
        margin-bottom: 35px;
    }
    &__img {
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    &__text {
        line-height: 110%;
        text-align: center;
        color: $c-blue;
    }
}