.danger {
    padding-top: 100px;
    padding-bottom: 55px;
    position: relative;
    z-index: 2;
    &__bg {
        position: absolute;
        bottom: 0;
        z-index: -1;
        max-width: 77%;
        right: -22%;
        height: 100%;
    }
    &__container {
        position: initial;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__head {
        max-width: 400px;
        margin-right: 120px;
        color: $c-blue;
        h1 {
            font-family: 'Amatic SC', cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 120px;
            line-height: 90%;
        }
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        max-width: 50%;
        gap: 25px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(33% - 30px);
        margin-right: 0px;
        margin-bottom: 35px;
        transition: all $tr-time $tr-type;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__img {
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    &__text {
        line-height: 110%;
        text-align: center;
        color: $c-blue;
    }

    @include media('md-max') {
        &__img {
            height: 75px;
            width: 75px;
        }
    }

    @include media('sm-max') {
        &__container {
            flex-direction: column;
        }
        &__bg {
            display: none;
        }
        &__head {
            order: 1;
            margin-bottom: 40px;
            h1 {
                font-size: 90px;
            }
        }
        &__block {
            order: 2;
            max-width: initial;
            justify-content: center;
            gap: 20px;
        }
        &__img {
            height: 75px;
            width: 75px;
            margin-bottom: 15px;
        }
    }

    @include media('xs') {
        padding-top: 40px;
        &__container {
            align-items: flex-start;
        }
        &__head {
            max-width: 320px;
            margin: 0 auto 15px;
            h1 {
                font-size: 60px;
                text-align: center;
            }
        }
        &__block {
            flex-direction: column;
            gap: 20px;
        }
        &__item {
            flex-direction: row;
            width: 100%;
            max-width: 320px;
            padding: 0;
            margin: 0;
        }
        &__img {
            height: 35px;
            width: 35px;
            margin-right: 10px;
            margin-bottom: 0;
        }
        &__text {
            font-size: 14px;
        }
    }
}