.email {
    padding-top: 60px;
    padding-bottom: 60px;
    &__img {
        height: 340px;
        width: 680px;
        margin: 0 auto 40px;
        border-radius: 30px;
        background-position: center;
        background-size: cover;
        padding: 40px;
        position: relative;
        overflow: hidden;
        @include media('xs') {
            width: initial;
            min-width: 320px;
        }
    }
    .brand {
        max-width: 220px;
        height: initial;
        margin-bottom: 90px;
    }
    .promo__product {
        max-width: 370px;
    }
    &__title {
        margin: 0 auto 15px;
        text-align: center;
    }
    &__text {
        max-width: 520px;
        margin: 0 auto 30px;
        text-align: center;
        opacity: 0.5;
    }
    &__btn {
        text-align: center;
        margin-bottom: 50px;
        .btn {
            background-color: $c-blue;
            color: white;
            &:hover {
                background-color: $c-orange;
                color: $c-blue;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        opacity: 0.8;
        &_item {
            margin-right: 20px;
        }
    }
}