.feat {
    &__item {
        display: flex;
        max-width: 300px;
        margin-right: 10px;
        &:nth-child(2) {
            animation-delay: 0.5s;
            animation-fill-mode: both
        }
        &:nth-child(3) {
             animation-delay: 1s;
             animation-fill-mode: both
        }
        &:nth-child(4) {
            animation-delay: 1.5s;
            animation-fill-mode: both
        }
    }
    &__img {
        height: 60px;
        width: 60px;
        margin-right: 10px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
        color: #FFFFFF;
    }
}