.melatonin {
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: $c-blue;
    position: relative;
    .promo__head {
        margin-bottom: 50px;
    }
    &__bg {
        position: absolute;
        img {
            &:nth-child(1) {
                position: relative;
                top: 100px;
                right: 18%;
                width: 51%;
            }
            &:nth-child(2) {
                position: absolute;
                top: -22%;
                right: 50%;
                width: 33%;
            }
            &:nth-child(3) {
                position: absolute;
                top: -21%;
                right: 57%;
                width: 76%;
            }
        }
    }

    &__container {
        max-width: 50%;
        margin-left: auto;
        margin-right: 0;
        padding-left: 0;
        z-index: 2;
    }
    &__feat {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        .feat__item {
            max-width: 250px;
        }
    }
    .promo__head {
        h1 {
            margin-bottom: 10px;
        }
    }
}