.melatonin {
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: $c-blue;
    position: relative;
    z-index: 2;
    .promo__head {
        margin-bottom: 50px;
    }
    &__bg {
        position: absolute;
        z-index: -1;
        img {
            &:nth-child(1) {
                position: relative;
                top: 100px;
                right: 18%;
                width: 51%;
            }
            &:nth-child(2) {
                position: absolute;
                top: -22%;
                right: 50%;
                width: 33%;
            }
            &:nth-child(3) {
                position: absolute;
                top: -21%;
                right: 57%;
                width: 76%;
                object-fit: contain;
                mask-image: url("/local/templates/meladapt/assets/images/cloud-r.png");
                mask-size: contain;
                mask-repeat: no-repeat;
            }
        }
    }
    &__content {
        max-width: 50%;
        margin-left: auto;
        margin-right: 0;
        padding-left: 0;
        z-index: 2;
    }
    &__feat {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        .feat__item {
            max-width: calc(50% - 40px);
            margin-right: 0;
            padding: 1px 12px;
            align-items: center;
        }
        .feat__img {
            width: 60px;
            height: 60px;
            margin-right: 15px;
        }
    }
    .promo__head {
        h1 {
            margin-bottom: 10px;
        }
    }

    @include media('md-max') {
        &__feat {
            .feat__item {
                max-width: 200px;
            }
        }
    }

    @include  media('sm-max') {
        &__feat {
            .feat__item {
                max-width: 100%;
            }
            .feat__img {
                height: 50px;
                width: 70px;
            }
        }
    }

    @include media('xs') {
        padding-top: 150px;
        &__bg {
            right: 0;
            top: -125px;
            img {
                &:nth-child(1) {
                    top: -66px;
                    right: -52%;
                    width: 55%;
                }
                &:nth-child(2) {
                    top: 0%;
                    right: 0%;
                    width: 33%;
                }
                &:nth-child(3) {
                    top: -50%;
                    right: 0;
                    width: 100%;
                }
            }
        }
        .promo__head {
            margin-bottom: 30px;
            h1 {
                margin-bottom: 27px;
            }
        }
        .promo__subtitle {
            text-align: center;
            font-size: 14px;
        }
        &__content {
            max-width: initial;
        }
        &__feat {
            gap: 20px;
            flex-direction: column;
            .feat__item {
                align-items: center;
            }
            .feat__img {
                height: 37px;
                width: 37px;
            }
            .feat__text {
                font-size: 14px;
            }
        }
    }
}

.slideR {
    animation: slideR 1.5s ease-in-out;
}

@keyframes slideR {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}