.melatonin {
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: $c-blue;
    position: relative;
    .promo__head {
        margin-bottom: 50px;
    }
    &__bg {
        position: absolute;
        z-index: -1;
        img {
            &:nth-child(1) {
                position: relative;
                top: 100px;
                right: 18%;
                width: 51%;
            }
            &:nth-child(2) {
                position: absolute;
                top: -22%;
                right: 50%;
                width: 33%;
            }
            &:nth-child(3) {
                position: absolute;
                top: -21%;
                right: 57%;
                width: 76%;
                object-fit: contain;
                mask-image: url("/local/templates/meladapt/assets/images/cloud-r.png");
                mask-size: contain;
                mask-repeat: no-repeat;
            }
        }
    }
    &__content {
        max-width: 50%;
        margin-left: auto;
        margin-right: 0;
        padding-left: 0;
        z-index: 2;
    }
    &__feat {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        .feat__item {
            max-width: calc(50% - 40px);
            margin-right: 0;
        }
    }
    .promo__head {
        h1 {
            margin-bottom: 10px;
        }
    }

    @include media('md-max') {
        &__feat {
            .feat__item {
                max-width: 200px;
            }
        }
    }

    @include  media('sm-max') {
        &__feat {
            .feat__item {
                max-width: 100%;
            }
            .feat__img {
                height: 50px;
                width: 70px;
            }
        }
    }
}