.politics {
    padding-top: 155px;
    padding-bottom: 155px;
    background-color: $c-blue;
    color: white;
    a {
        color: $c-orange;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid rgba($c-orange, 0.8);
        }
    }
}