.promo  {
    padding-top: 90px;
    padding-bottom: 50px;
    background-color: #132434;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__bg-right {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
        z-index: -1;
        &:after {
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            background: linear-gradient(1deg, #132434 0%, rgba(19, 36, 52, 0) 35.45%), linear-gradient(180deg, #142534 0%, rgba(20, 37, 52, 0) 6.77%), linear-gradient(360deg, #132434 17.6%, rgba(19, 36, 52, 0) 63.05%), linear-gradient(90deg, #132434 0%, rgba(19, 36, 52, 0) 35.45%), linear-gradient(to right, transparent 75%, #132434);
            z-index: 1;
        }
        img {
            height: 100%;
            object-fit: cover;

        }
    }
    &__bg-left {
        position: absolute;
        top: 0;
        height: 100%;
        right: 35%;
        z-index: -1;
        opacity: .5;
        img {
            height: 100%;
            object-fit: contain;
            &:nth-child(1) {
                position: relative;
                left: -35%;
                height: 60%;
                width: auto;
                top: 27%;
            }
            &:nth-child(2) {
                position: absolute;
                left: -15%;
                height: 60%;
                width: auto;
                top: 6%;
            }
        }
    }
    &__head {
        margin-bottom: 15px;
        max-width: 580px;
        color: #FFFFFF;
        h1 {
            font-family: 'Amatic SC', cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 120px;
            line-height: 90%;
            margin-bottom: 0;
        }
        span {
            color: $c-orange;
        }
    }
    &__subtitle {
        color: #FFFFFF;
    }
    &__product {
        .inner {
            max-height: 240px;
        }
        max-width: 630px;
        object-fit: cover;
    }
    &__feat {
        display: flex;
        margin-bottom: 60px;
    }
    &__bottom {
        display: flex;
        align-items: center;
    }
    &__instr {
        display: flex;
        span {
            font-weight: 800;
            line-height: 100%;
            text-align: center;
            margin-right: 4px;
            color: #FFFFFF;
            border-bottom: 2px dashed rgba(255, 255, 255, 0.4);
        }
        .icon {
            width: 15px;
            height: 15px;
            fill: white;
            margin-right: 4px;
        }
    }
    &__btn {
        margin-right: 35px;
        padding: 18px 46px;
    }

    @include media('sm-max') {
        &__head {
            h1 {
                font-size: 90px;
            }
        }
        &__product {
            max-width: 480px;
        }
        &__feat {
            .feat__item {
                margin-right: 15px;
            }
            .feat__text {
                font-size: 14px;
            }
        }
        .promo__btn {
            padding: 14px 36px;
        }
    }

    @include media('xs') {
        padding-top: 210px;
        &__bg-right {
            top: -250px;
            img {
                object-fit: cover;
                height: 70%;
            }
        }
        &__bg-left {
            top: -210px;
            height: 100%;
            right: 0%;
            img {
                &:nth-child(1) {
                    left: 0%;
                    height: 100%;
                    top: 9%;
                }
                &:nth-child(2) {
                    left: 0%;
                    height: 100%;
                    top: 10%;
                }
            }
        }
        &__head {
            max-width: 280px;
            margin: 0 auto 15px;
            h1 {
                font-size: 60px;
                text-align: center;
            }
        }
        &__product {
            max-width: 320px;
            margin: 0 auto 15px;
        }
        &__feat {
            flex-direction: column;
            margin-bottom: 25px;
            .feat__item {
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 20px;
                align-items: center;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .feat__img {
                height: 30px;
                width: 30px;
                margin-right: 10px;
            }
        }
        &__bottom {
            flex-direction: column;
        }
        &__btn {
            margin-right: 0;
            width: 100%;
            margin-bottom: 12px;
        }
    }
}


.fadeIn {
    animation: fadeIn 1.5s ease-in-out;
}

.slideRight {
    animation: slideRight 1.5s ease-in-out;
    animation-fill-mode: both;
}

.slideLeft {
    animation: slideLeft 1.5s ease-in-out;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}