.property {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #F5F7FF;
    &__list {
        display: flex;
        .list__item {
            padding: 40px;
        }
    }

    @include media('sm-max') {
        &__list {
            .list__item {
                padding: 20px;
            }
            .list__head {
                height: 60px;
                width: 60px;
                margin-bottom: 15px;
            }
            .list__title {
                font-size: 16px;
            }
        }
    }
}