.property {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #F5F7FF;
    &__list {
        display: flex;
        .list__item {
            padding: 40px;
        }
    }

    @include media('sm-max') {
        &__list {
            .list__item {
                padding: 20px;
            }
            .list__head {
                height: 60px;
                width: 60px;
                margin-bottom: 15px;
            }
            .list__title {
                font-size: 16px;
            }
        }
    }

    @include media('xs') {
        padding-top: 30px;
        padding-bottom: 35px;
        &__list {
            flex-wrap: wrap;
            gap: 10px;
        }
        .list__item {
            padding: 15px 5px;
            margin: 0;
            width: calc(50% - 5px);
        }
        .list__head {
            margin-bottom: 25px;
            height: 30px;
            width: 30px;
        }
        .list__title {
            font-size: 14px;
        }
    }
}