.questions {
    padding-top: 100px;
    padding-bottom: 155px;
    &_main {
        padding-top: 70px;
        padding-bottom: 100px;
        background-color: $c-blue;
        @include media('xs') {
            padding-top: 35px;
            padding-bottom: 50px;
            .questions__title {
                max-width: 200px;
                text-align: center;
                margin-bottom: 40px;
            }
        }
    }
    &__bg {
        position: absolute;
        right: 0;
        max-width: 30%;
        height: 100%;
        top: 0;
        img {
            height: 120%;
            object-fit: cover;
            object-position: 20%;
        }
    }
    &__decor {
        position: absolute;
        right: -180px;
        top: 160px;
        max-height: 1500px;
        img {
            max-height: 600px;
            &:nth-child(1) {
                position: relative;
                right: 50px;
                z-index: -1;
                -webkit-mask-image: url('/local/templates/meladapt/assets/images/cloud.png');
                -webkit-mask-size: contain;
                -webkit-mask-repeat: no-repeat;
            }
            &:nth-child(2) {
                position: relative;
                bottom: 740px;
                z-index: -2;
                right: 10px;
            }
            &:nth-child(3) {
                position: absolute;
                top: 200px;
                right: 50px;
            }
            &:nth-child(4) {
                position: absolute;
                bottom: 323px;
                z-index: 0;
                right: 90px;
            }
        }
    }
    &__wrapper {
        max-width: 1130px;
        margin-top: 40px;
        margin-bottom: 160px;
    }
    &__title {
        margin-bottom: 60px;
        color: #FFFFFF;
        h1 {
            font-family: 'Amatic SC', cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 120px;
            line-height: 90%;
        }
        span {
            color: $c-orange;
        }
    }
    &__accordion {
        margin-bottom: 40px;
        list-style: none;
    }
    &__item {
        .is-active {
            &::before {
                transition: all $tr-time $tr-type;
                background-image: url("/local/templates/meladapt/assets/images/minus.png");
                top: 22px;
            }
        }
        margin-bottom: 30px;
        flex-direction: column;
        align-items: flex-start;
        box-sizing: border-box;
        font-weight: 500;
        color: #523650;
        &:last-child {
            margin-bottom: 0;
        }

        &_question {
            font-weight: 600;
            font-size: 24px;
            line-height: 140%;
            color: #FFFFFF;
            position: relative;
            cursor: pointer;
            padding-right: 70px;
            &::before {
                content: "";
                position: absolute;
                right: 13px;
                top: 13px;
                height: 20px;
                width: 20px;
                background-image: url("/local/templates/meladapt/assets/images/plus.png");
                background-repeat: no-repeat;
                background-size: contain;
                transition: all $tr-time $tr-type;
            }
            &::after {
                content: "";
                position: absolute;
                border-radius: 50%;
                right: 0;
                top: 0;
                width: 45px;
                height: 45px;
                background: rgba(255, 255, 255, 0.15);
                transition: all $tr-time $tr-type;
            }

        }
        &_answer {
            padding-right: 30px;
            margin-top: 15px;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #FFFFFF;
            opacity: 0.6;
        }
    }
    &__buttons {
        display: flex;
    }
    &__btn {
        padding: 18px 42px;
        display: block;
        margin-right: 14px;
    }

    @include media('md-max') {
        &_main {
            .questions__bg {
                max-width: 18%;
            }
        }
    }

    @include media('sm-max') {
        &_main {
            .questions__bg {
                display: none;
            }
        }
    }

    @include media('xs') {
        padding-top: 210px;
        padding-bottom: 60px;
        &__title {
            max-width: 160px;
            margin: 0 auto 32px;
            h1 {
                font-size: 60px;
            }
        }
        &__accordion {
            margin-bottom: 15px;
        }
        &__item {
            .is-active {
                &::before {
                    top: 15px;
                }
            }
            &_question {
                font-size: 16px;
                padding-right: 46px;
                &::after {
                    height: 30px;
                    width: 30px;
                }
                &::before {
                    right: 6px;
                    top: 6px;
                    height: 18px;
                    width: 18px;
                }
            }
            &_answer {
                font-size: 12px;
            }
        }
        &__buttons {
            flex-direction: column;
        }
        &__btn {
            padding: 12px 42px;
            margin-right: 0;
            margin-bottom: 12px;
        }
    }
}
