.whom {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    &__bg {
        position: absolute;
        img {
            &:nth-child(1) {
                width: 90%;
                position: absolute;
                right: -32%;
                top: -20%;
                z-index: 1;
            }
            &:nth-child(2) {
                width: 67%;
                position: relative;
                right: -35%;
                top: -123px;
                z-index: 0;
            }
        }
    }
    &__head {
        max-width: 400px;
        color: $c-blue;
        margin-bottom: 50px;
        h1 {
            font-family: 'Amatic SC', cursive;
            font-style: normal;
            font-weight: 700;
            font-size: 120px;
            line-height: 90%;
        }
    }
    &__list {
        max-width: 430px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        svg {
            width: 40px;
            height: 40px;
            padding: 10px;
            border: 1px solid rgba(32, 43, 86, 0.1);
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}