.nx-dynamic-label {
    position: relative;
    margin-bottom: 0;
    &__text{
        position: absolute;
        top: 17px;
        left: 20px;
        transition: all .15s $tr-type;
        pointer-events: none;
        transform-origin: left;
        z-index: 20;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: #202B56;
        opacity: 0.3;
        @include truncate(91%);
    }

    .nx-dynamic-label__input{
        color: $c-blue;
        font-size: 14px;
        line-height: 140%;
        border: 1px solid #E4E4E4;
        box-sizing: border-box;
        border-radius: 15px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 10px 0px;
        width: 100%;
        padding: 17px 20px 6px;
    }

    &.focused{
        .nx-dynamic-label__text{
            transform: translateY(-9px);
            font-size: $fz-little;
        }
        .nx-dynamic-label__input {
            border: 1px solid #EFC53D;
        }
    }
    .error &{
        .nx-dynamic-label__text{
            color: map_get($content, error-color);
        }
    }
    &_tr {
        .nx-dynamic-label__input{
            background-color: transparent;
        }
    }
    &_lt {
        .nx-dynamic-label__text{
            color:white;
        }
        .nx-dynamic-label__input{
            border-color: white;
            color: white;
        }
    }
    @include media('xs'){
        &__text{
            left: 20px;
        }
    }
}
