.header{
    display: block;
    position: absolute;
    top: 0; left: 0;
    right: 0;
    margin: auto;
    height: map_get($header, height);
    background-color: map_get($header, bg);
    z-index: 500;
    max-width: 100%;
    min-width: map-get($container, min-width);
    .filter-open &{
        z-index: 0;
    }

    &#{&}.fixed {
        position: fixed;
        background-color: $c-blue;
        animation: header-fix 800ms ease 0s 1 both;
    }

    &__wrap, &__container{
        height: 100%;
    }
    &__container{
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__mtoggle{
        display: none;
        height: 100%;
    }

    &__brand{
        width: 193px;
        margin-right: 40px;
    }
    
    &__search, &__lang{
        margin-left: 20px;
    }

    .spacer{
        margin-left: auto;
    }

    @include media('sm-max'){
        &__mtoggle{
            display: block;
            margin-left: auto;
        }

        .spacer{
            margin-left: -50px;
        }

        &__brand{
            position: absolute;
            left: 50%;
            top: 10px;
            transform: translateX(-50%);
            height: 100%;
            padding: 5px 0;
            width: auto;
            margin-right: 0;
            .brand{
                height: 100%;
            }
        }
    }

    @include media('sm-max'){
        &__search, &__lang{
            display: none;
        }
    }

    @include media('sm-min', 'sm-max'){
        height: map_get($header, height-sm);
    }

    @include media('xs'){
        height: map_get($header, height-xs);
        &__brand {
            padding: 11px 0;
            top: 8px;
        }
    }
}

.brand{
    display: block;
    width: 100%;
    height: 100%;
    &:hover{
        opacity: .8;
    }

    &__img{
        max-height: 100%;
    }
}

@keyframes header-fix {
    0% {
        top: -200px;
    }

    100% {
        top: 0;
    }
}